# Ignore virtual environment
.venv/
venv/
env/

# Ignore system files
__pycache__/
*.pyc
.DS_Store

# Ignore Streamlit config and local settings
.streamlit/

# Ignore temporary files
*.log
*.tmp

# Ignore IDE files (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Ignore environment variables (important!)
.env
